body {
    margin: 0;
}

header {
    background-image: linear-gradient(to right, #2f4f4f, #5F7B7B, #5F7B7B);
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
}

img {
    height: 30rem;
    width: 30rem;
    padding: 2rem;
}

.contents {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1rem;
}

ol {
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:hover {
    color: purple;
}

a:active {
    color: black;
}

